# Node.js
node_modules/

# Environment
.env

# User-specific files
.npmrc
yarn-error.log

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency directories
pids
*.pid
*.seed
*.pid.lock

# Optional: OS-specific files
.DS_Store
Thumbs.db
